<div class="feature-container">
    <img src="https://media.istockphoto.com/id/1365846672/photo/safety-instructions-young-stewardess-on-the-work-in-the-passanger-airplane.jpg?s=612x612&w=0&k=20&c=4VEPVVSwpAsTYwrNdDf_J915LWavcUOqmUlnxfS1zGQ=" alt="Service Image">
    <div class="feature-overlay"></div>
    <div class="feature-text">
        <h2>Profesionalna usluga</h2>
        <p>Nudimo vrhunsku uslugu kako bismo vaše putovanje učinili nezaboravnim iskustvom.</p>
        <button (click)="returnToHome()">Vrati na početnu</button>
    </div>
</div>
 