<div class="navbar">
    <nav>
        <ul>
            <li><a routerLink="/pocetna" routerLinkActive="active">Pocetna</a></li>
            <li><a routerLink="/o-kompaniji" routerLinkActive="active">O kompaniji</a></li>
            <li><a routerLink="/login" routerLinkActive="active">Admin</a></li>
            <li><a routerLink="/lista-filmova" routerLinkActive="active">Lista filmova</a></li>
            <li><a routerLink="/prethodne-kupovine" routerLinkActive="active">Prethodne kupovine</a></li>
        </ul>
    </nav>
</div>
<router-outlet></router-outlet>