.navbar {
    background-color: #00b2de; /* Boja pozadine */
    padding: 15px; /* Razmak između ruba i stavki unutar navbara */
    margin: -10px;
    margin-bottom: 10px;
}

.navbar ul {
    list-style-type: none; /* Uklanja točke (bullet points) sa stavki */
    margin: 0;
    padding: 0;
    display: flex; /* Prikazuje stavke u redoslijedu */
    justify-content: space-between;
    align-items: center;
}

.navbar li {
    margin-right: 40px; /* Razmak između stavki */
    margin-left: 40px;
    // border: 1px solid white;
}

.navbar a {
    text-decoration: none; /* Uklanja podvlaku ispod teksta */
    color: rgb(0, 0, 0); /* Boja teksta */
    // font-weight: bold; /* Debljina teksta */
    font-size: 18px;
    padding: 10px;
    // border: 1px solid white;
    
}

.navbar a:hover {
    color: #5993c2; /* Boja teksta na hover efektu */
}
.navbar a.active {
      /* Postavi svetloplavu boju na odabrani element */
    color: #ffffff; /* Promijeni boju teksta za bolju vidljivost na svetloplavoj pozadini */
}