/* Add appropriate styling for the table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  /* Style loading message */
  div[ngIf="!letovi"] p {
    font-style: italic;
    color: #888;
    margin-top: 10px;
  }
  
  /* Style form container */
  form {
    margin-top: 20px;
  }
  
  /* Style form labels and inputs */
  form label {
    display: block;
    margin-top: 10px;
  }

  .forma{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff; /* Bela pozadina */
    padding: 20px;
    border-radius: 8px; /* Zaobljeni rubovi */
    box-shadow: 0 4px 8px rgba(52, 152, 219, 0.2); /* Plava senka */
    width: 400px; /* Smanjena širina form-e */
    margin: 0 auto; /* Postavljanje na sredinu */
  }
  
  form input {
    width: 90%;
    padding: 8px;
    margin-top: 5px;
  }
  
  /* Style validation messages */
  .validacija {
    color: #d9534f;
    margin-top: 5px;
  }
  
  /* Style button container */
  .button-container {
    margin-top: 20px;
  }
  
  /* Style buttons */
  // button {
  //   padding: 10px;
  //   margin-right: 10px;
  //   cursor: pointer;
  //   background-color: #003f97;
  //   border-radius: 7px;
  //   color: #f2f2f2;
  // }
  // button :hover{
  //   background-color: #5bc0de;
  // }
  button {
    padding: 5px 10px;
    cursor: pointer;
    background-color:#009dff;
    color: white;
    border: none;
    border-radius: 7px;
    margin-right: 10px;
    padding: 10px;
  }
  
  button:hover {
    background-color: hsl(213, 100%, 50%);
  }
  .btndodaj {
    background-color:#4db7f8;
   
    color: #fff;
  }
  
  .btnazuriraj {
    background-color: #4db7f8;
    color: #fff;
  }
  
  /* Style error message */
  .error-message {
    color: #d9534f;
    margin-top: 10px;
  }
  