<head>
    <title>StarCinema-Projektni zadatak 4954</title>
 </head>
 
 <body>
 
     <header>
         <h1>Star Cinema</h1>
         <p>Vaš Partner u filmovima</p>
     </header>
     <br><br>
 
     <section id="about">
         <h2>Naša Vizija:</h2>
         <p>MetAir je osnovan sa vizijom da pomeri granice putovanja i omogući korisnicima da istraže svet sa lakoćom.
             Kroz našu posvećenost kvalitetu, pouzdanosti i korisničkoj satisfakciji, težimo postati prvi izbor za sve
             vaše putničke potrebe.</p>
     </section>
 
     <section id="services">
         <h2>Šta MetAir Nudi:</h2>
         <ul>
             <li>Širok Asortiman Destinacija</li>
             <li>Brza i Efikasna Rezervacija</li>
             <li>Pouzdana Korisnička Podrška</li>
             <li>Prijateljski i Efikasan Interfejs</li>
         </ul>
     </section>
 
     <section id="safety">
         <h2>Vaša Bezbednost Nam Je Na Prvom Mestu:</h2>
         <p>MetAir se ponosi visokim standardima bezbednosti i higijene. U saradnji sa renomiranim aviokompanijama,
             radimo zajedno kako bismo obezbedili sigurno putovanje za sve naše putnike.</p>
     </section>
 <br><br>
     <footer>
         <p>Uz MetAir, vaše putovanje počinje već pri rezervaciji. Budite deo naše porodice putnika i doživite svet na
             način koji nikada pre niste iskusili. Vaše avanture čekaju, a MetAir će vas odvesti tamo gde želite biti.
             Spremni ste za polazak? Rezervišite svoje mesto sada!</p>
     </footer>
 
 </body>